.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  }
  
  .gallery > .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
  }
  
  .gallery > .card * {
    pointer-events: none;
  }
  
  .image-container {
    max-width: 200px;
  }
  
  .image-container > img {
    width: 100%;
  }
  
  .score-container > .star {
    font-size: 10px;
  }
  
  .modal {
    display: none;
    position: fixed;
    inset: 0;
    top: 15vh;
    width: 100%;
    z-index: 1;
    background-color: white;
    max-height: 60vh;
    max-width: 90%;
    margin: 0 auto;
    color: var(--color-seconday);
  }
  
  .modal button {
    background-color: transparent !important;
    border: 0;
    font-size: 1.5rem;
    cursor: pointer;
    
  }
  
  .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    border-bottom: 1px solid var(--color-seconday);
  }
  
  .modal-body {
    padding: 0.5rem 1rem;
    text-align: center;
  }
  
  @media screen and (min-width: 768px) {
    modal {
      max-width: 80%;
    }
  }
  
