:root {
     --color-fondo: #563440;
     --color-fondo-tarjeta: #9A879D;
     --color-borde-tarjeta: #7A3B69;
     --color-texto-pregunta: #CFCFCD;
     --color-hover-respuesta: #59e7bf;
     --color-fondo-highlight: #a076ca;

     --margin-general: 30px;

}

body {
     background-color: var(--color-fondo);
}

.card {
     width: 400px;
     height: 400px;
     background-color: var(--color-fondo-tarjeta);
     border-radius: 10px;
     border: 3px solid var(--color-borde-tarjeta);
     margin: var(--margin-general);
     padding: 20px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items: center;
}

.card h2 {
     text-align: center;
     color: var(--color-texto-pregunta);
}

.card h3 {
     cursor: pointer;
     transition: all 0.8s;

}

.card h3:hover {
     transition: all 0.8s ease-in-out;
     letter-spacing: 1.5px;
}

.divPreguntas {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
}

.resultado {
     background-color: black;
     color: white;
     z-index: 9;
     position: fixed;
     top: 50%;
     left: 50%;
}

.divPreguntas .card h3.disabled {
     pointer-events: none;
}


.respuesta {
     cursor: pointer;
     padding: 5px 10px;
     border-radius: 8px;
     transition: background-color 0.3s ease;
}

.seleccionada {
     background-color: #f8f8f5;
     padding: 5px;
     /* Color neutro para las respuestas seleccionadas */
}

.correcta {
     background-color: #6ee56ea3;
     /* Color verde para las respuestas correctas */
}

.incorrecta {
     background-color: #d65c5cde;
     /* Color rojo para las respuestas incorrectas */
}

/* Estilo para desactivar el cursor en respuestas ya seleccionadas */
.respuesta.seleccionada {
     cursor: not-allowed;
}



@media (max-width: 390px) {
     .content {
          margin-top: 5rem;
          padding: 0 0.5rem;
     }

     .card {
          width: auto;
     }
}