/*RESET*/
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Karla', Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 23px;
    color: var(--primary-color);
}

/* GLOBAL STYLES*/
html {
    scroll-behavior: smooth;
}

:root {
    --background-color: #F7F7F8;
    --primary-color: #000000;
    --secondary-color: #575757;
    --terciary-color: #73aa24;
    --highlight-color: #d01261;

    --margin: 20px;
    --gap: 20px;
    --font-weight: 700;
}

/* HEADER */
header {
    position: sticky;
    top: 0;
    background-color:white;
    z-index: 999;
}

.encabezado {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

#buscador {
    border: 2px solid rgb(87, 87, 87, 10%);
    min-width: 320px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.buscador-promociones {
    display: flex;
    gap: var(--gap);
}

#buscador input {
    outline: none;
    padding-left: 15px;
    font-style: normal;
    font-weight: 400;
    color: var(--primary-color) ;
}


.lupa {  
    border-radius: 50%;
    background-color: rgba(127, 129, 130, 0.11);
    padding: 13px;
    transition: all 0.3s ease-out
}


.lupa:hover {
    background-color: var(--highlight-color); 
    transition: all 0.3s ease-out;
}

.button-promociones {
    cursor: pointer;
    background-color: rgba(239, 118, 134, 0.052);
    text-transform: uppercase;
    font-weight: 400;
    font-style: normal;
    color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    padding: 12px 32px;
    border-radius: 40px;
    width: 90%;
    display: flex;
    align-items: center;
}

.promociones {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.flecha-promo {
    cursor: pointer;
    width: 20px;  
}

.icon {
    margin: 0 10px;
    cursor: pointer;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    text-transform: uppercase;
    font-weight: var(--font-weight);
    padding: 20px;
    
}

.navbar {
    margin-top: var(--margin);
    border-top: 1px solid rgb(87, 87, 87, 10%);
    border-bottom: 1px solid rgb(87, 87, 87, 10%);   
}


.navbar a {
    color: var(--secondary-color);
    padding: 5px;
    transition: all 0.5s ease-in-out;
}

.green > a {
    color: var(--terciary-color);
    transition: 0.5s;
}

.navbar a:hover {
    color: var(--highlight-color);
    text-shadow: #d01261 20px;
    border-radius: 5px;
    background-color: rgba(239, 118, 134, 0.052);
    padding: 5px;
    transition: all 0.7s ease-in-out;
}

.green > a:hover {
    color: var(--terciary-color);
    transition: 0.5s;
}

/*MAIN*/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.ofertas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--gap);
    margin-top: var(--margin);
}
.ofertas-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.ofertas-mobile img {
    width: 90%;
}

.ofertas img {
    width: 100%;
    cursor: pointer;
}

/* QUERIES */

@media screen and (max-width: 375px) {
    
    .encabezado > img {
        width: 5rem;
        margin-bottom: 20px;    
    }

    .buscador-promociones {
        margin-bottom: 20px;
    }

    .products {
        margin-right: 0;
        
    }

    article.item {
        
        display: flex;
    }

    .recomendados {
        margin-left: 6rem;
    } 
}

@media screen and (min-width: 1025px) {
    .main-nav li {
        display: none;
    }
}

@media (max-width: 1025px) {
    .promociones, .navbar, .carrusel {
        display: none;
    }

    main {
        margin-top: var(--margin);
    }

    .ofertas {
        display: none;
    } 
}

@media (min-width: 1025px) {
    .ofertas-mobile {
        display: none
    }   
}



@media screen and (min-width: 375px) {
    .encabezado {
        gap: 20px;
        
    }

    .end-footer {
        align-items: flex-start;
    }

    .ofertas-mobile {
        width: 100%;
    } 
    
    .page-wrapper {
        margin: var(--margin);
        flex-wrap: wrap;
    }
}

.page-wrapper {
    display: flex;
    justify-content: center;
    gap: var(--gap);
    margin-top: var(--margin);
}

.foto-grande {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.page-wrapper-doble {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: var(--gap);
}

.page-wrapper-doble img {
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.banner-ofertas  {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    align-items: center;
}

.carrusel ul {
    padding-top: 15px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    gap: 5px;
    text-transform: uppercase;
}

.carrusel li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    text-align: center;
    width: 15vh;
}

section > p > strong {
    text-transform: uppercase;
    font-size: 26px;
    line-height: 37px;
    
}

.recomendados {
    margin: 25px 0;
}

.product-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: var(--background-color)  
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--margin);
}

.item {
    margin: 4px;
    margin-top: var(--margin);
    border: rgb(87, 87, 87, 10%) solid 2px;
    background-color: white;
    display: flex;
    flex-direction: column;
    border-radius: 5px; 
}


.item-info { 
    height: 13rem;
    font-weight: 400;    
}


.item-info p {
    margin-left: var(--margin);
    font-size: 14px;   
}

.tittle {
    text-transform: uppercase;
    font-weight: 800;
}

.tittle-favorito {
    display: flex;
    justify-content: space-between; 
}

.tittle-favorito img {
    margin-right: var(--margin);
}

.tittle-favorito img:hover {
    filter: invert(18%) sepia(48%) saturate(7133%) hue-rotate(325deg) brightness(83%) contrast(95%);
}

.quantity {
    margin-left: var(--margin);
}

.quantity > button {
    cursor: pointer;
    background-color: transparent;
    font-size: 13px;
    padding: 4px 7px;
    border:  1px solid #d7d7d7;
    border-radius: 5px;
    transition: 0.3s;
    
}


.quantity > button:hover {
    transition: 0.3s;
    border: 1px solid var(--primary-color);
}

.add-to-cart {
    border-top: rgb(87, 87, 87, 10%) solid 2px;
    text-align: center;
    height: 70px;
    padding-top: 20px; 
    transition: all 0.3s ease-out;
}

.add-to-cart:hover {
    background-color: #fdf5f8;
    transition: all 0.3s ease-out;
}

.add-to-cart > button {
    cursor: pointer;
    background-color: transparent;
    color: var(--highlight-color);
    font-weight: 700;
}

.prices {
    display: flex;
    flex-direction: column;
}


.prices > span {
    padding: 30px 0;
    font-size: 18px;
    margin-left: var(--margin);
    
}

.item > label {
    position: absolute;
    border: 2px solid var(--highlight-color);
    background-color: var(--highlight-color);
    border-radius: 15px;
    padding: 2px;
    margin: 8px;
    color: var(--background-color);
    width: 8vh;
    text-align: center;
}

.frank img {
    width: 70%;
    margin-bottom: 25%;  
}

.solar img {
    width: 60%;
}

.cabello img {
    width: 70%;
}

.wellness img {
    width: 70%;
}

.parafarmacia img {
    width: 80%;
}

.regalos img {
    width: 70%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: baseline;
    border-bottom: 1px solid rgb(87, 87, 87, 10%);
    margin: 20px;
}

.footer-links ul {
    display: flex;
    gap: 5px;
    margin-top: 17px;
    width: 100%;
    
}

.enlaces-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.enlaces {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    margin: var(--margin);
    width: 20rem;
}


.enlaces a {
    color: var(--secondary-color);
}

.enlaces > .about::before {
    content: url(./assets/estrella\ \(1\).png);   
}

.enlaces > .help::before {
    content: url(./assets/ayuda.png);
}

.enlaces > .chat::before {
    content: url(./assets/comentario.png);
}

.about, .help, .chat {
    display: flex;
    gap: 10px;
}

.payments {
    display: flex;
    flex-wrap: wrap;
}

.payments img {
    width: 50%;
}

.payments-icons {
    height: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.logo-bizum {
    width: 30%;
    margin-left: -15px;
}

.logo-visa {
    width: 10%;
    height: 25%;
}

.logo-paypal {
    width: 14%;
    margin-left: -10px;
}

.logo-sequra {
    filter: invert(60%);
    width: 15%;
    margin-left: 10px;
}

.copyright {
    font-weight: var(--font-weight);
    display: inline-block;
    margin-right: 10px;
}

.copyright > span {
    font-size: 14px;
}

.legal-links a {
    color: var(--secondary-color);
}

.end-footer {
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: var(--margin);
}














