h1 {
    color: coral;
}

ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

a {
    text-decoration: none;
    color: rgb(37, 37, 203);
}

.rc-section-header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: black;
    font-family: 'Oswald', Courier, sans-serif;
    letter-spacing: 0.5px;
    width: 100%;
    
    /* z-index: -1; */
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    font-size: 12px;
    font-weight: 900;
    color: white;
}

div img {
    width: 20%;
    height: 20%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

body {
    margin: 0;
}

video {
    z-index: -1;
}