/* Estilos para la sección de Experiencia */
.experience {
	align-items: center;
	background-image: url("/public/assets/fondoExperience.webp");
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	height: 87vh;
	padding-top: 3rem;
}

.experience-container {
	align-items: center;
	display: flex;
	flex-direction: column;
	gap: 68px;
	justify-content: center;
	margin-top: var(--margin-s);
	text-align: center;
	width: 100%;
}
/* Estilos para los artículos de Experiencia */
.experience-container > article {
	align-items: center;
	color: var(--primary-text-color);
	display: flex;
	flex-direction: column;
	width: 50%;
}
/* Estilos para el texto del título de Experiencia */
.experience > div > p {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 2px var(--secondary-text-color);
	filter: drop-shadow(
		0px 0px 4px var(--secondary-text-color)
	);
	font-family: "Death Star";
	font-size: var(--font-size-xl);
}

/* Estilos para el primer párrafo de los artículos de Experiencia */
#experience
	> div.experience-container
	> article
	> p:first-of-type {
	font-family: "Bebas Neue";
	font-size: 40px;
	font-weight: var(--font-weight-s);
	text-shadow: 0px 0px 4px var(--text-shadow-color);
}
/* Estilos para los párrafos de los artículos de Experiencia */
#experience > div.experience-container > article > p {
	font-family: "Bebas Neue";
	font-size: var(--font-size-m);
	text-shadow: 0px 0px 4px var(--text-shadow-color);
}
/* Media queries para dispositivos con ancho de pantalla máximo de 1440px */
@media screen and (max-width: 1440px) {
	#experience {
		height: auto;
	}

	.experience-container {
		margin-bottom: var(--margin-s);
	}
}
/* Media queries para dispositivos con ancho de pantalla entre 390px y 450px */
@media screen and (min-width: 390px) and (max-width: 450px) {
	.experience-container > article > p:first-of-type {
		font-size: var(--font-size-l) !important;
	}

	.experience-container > article {
		width: 100%;
	}

	.experience-container {
		gap: 50px;
		padding: 0 3rem;
	}
}
