.card-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(45%, 1fr));
    gap: 20px;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

.card {
    position: relative;
    background-color: #fff;
    text-align: center;
    overflow: hidden;
    flex: 1;
    min-width: 100%; /* Establece un ancho mínimo para cada tarjeta */
}

.card img {
    width: 100%;
    height: auto;
}

.info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

h2, h3, .links {
    width: 100%;
    text-align: center;
}

.links a {
    text-decoration: none;
    color: #06c;
    margin: 10px;
}

@media (max-width: 368px) {
    
}

@media (max-width: 950px) {
    .card-container {
        grid-template-columns: repeat(1, 1fr); /* Una tarjeta por fila en pantallas estrechas */
    }
}