/* Importaciones de fuentes */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.cdnfonts.com/css/death-star");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* Reset de estilos */
* {
	box-sizing: border-box;
	list-style: none;
	margin: 0;
	padding: 0;
	text-decoration: none;
}
/* Variables CSS */
:root {
	--bg-color: #cf23c170;
	--bg-dark-color: #0000004d;
	--bg-form-color: #5169997a;
	--blue-hover-color: #00ffff;
	--pink-hover-color: #ff99cc;
	--placeholder-color: #ffffff48;
	--primary-text-color: #ffffff;
	--secondary-text-color: #ceb7ff;
	--text-shadow-color: #b377ff;

	--margin-xs: 2rem;
	--margin-s: 4rem;
	--margin-ss: 8rem;
	--margin-xm: 10px;
	--margin-m: 12px;
	--margin-l: 15px;

	--padding-xs: 3rem;
	--padding-s: 10px;
	--padding-m: 15px;
	--padding-l: 20px;

	--font-size-s: 2rem;
	--font-size-m: 20px;
	--font-size-l: 30px;
	--font-size-xl: 58px;

	--font-weight-s: 400;
	--font-weight-m: 600;

	--stroke-s: 1px;
	--stroke-m: 2px;
}

html {
	scroll-behavior: smooth;
}

#home-container {
	background-image: url(./public/assets/home-background.webp);
	background-repeat: no-repeat;
	background-size: cover;
	height: 98vh;
}

@font-face {
	font-family: "Death Star";
	src: url("./Death\ Star.otf");
}

.divider {
	border: 2px solid var(--secondary-text-color);
	filter: drop-shadow(
		0px 0px 4px var(--secondary-text-color)
	);
	height: 1rem;
	stroke-width: var(--stroke-s);
	stroke-width: var(--stroke-s);
	stroke: var(--secondary-text-color);
	stroke: var(--secondary-text-color);
}
/* Media Queries */
@media screen and (min-width: 390px) and (max-width: 450px) {
	.ul-nav-bar {
		flex-wrap: wrap;
		justify-content: center;
	}

	#home-container,
	.education,
	.experience {
		background-position: top;
	}

	.hero {
		width: 100%;
		padding: 2rem;
	}

	.sectionHero > h1 {
		font-size: var(--font-size-s);
	}

	.asideUl {
		flex-direction: row;
	}

	.education-title > p {
		font-size: var(--font-size-s) !important;
	}

	.experience-title > p {
		font-size: var(--font-size-s) !important;
	}
}

@media only screen and (max-width: 1440px) and (min-width: 1440px) {
	#divBtn > p {
		position: inherit;
		width: 77%;
	}

	.study-container {
		display: flex;
	}

	div.study-container > article {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		padding: 15px;
	}

	.education {
		height: auto !important;
	}

	#education > div.study-container > article > h3 {
		font-size: 35px;
	}

	#education > div.study-container > article > p {
		font-size: 1rem !important;
	}
}

@media screen and (min-width: 390px) and (max-width: 450px) {
	#home-container {
		background-image: url(/public//assets/mobileBg.webp);
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.li-nav-bar {
		margin: auto;
	}

	
}

@media screen and (min-width: 768px) and (max-width: 768px) {
	.hero {
		width: -webkit-fill-available;
		padding: 0 2rem;
	}

	#home-container,
	.education,
	.experience,
	#projects,
	#contact {
		background-position: center;
	}
}

@media screen and (min-width: 450px) and (max-width: 1024px) {
	#projects > ul {
		display: flex;
		flex-wrap: wrap;
		flex-direction: row;
		gap: 8rem;
	}

	#home-container, #education, #experience, #contact {
		background-position: center;
	}

	#contactForm  {
		width: 90%;
	}

	.hero {
		width: -webkit-fill-available;
		padding: 0 2rem;
	}

	.li-nav-bar > a {
		font-size: 25px;
		
	}

	#home-container {
		height: auto;
	}

	aside {
		margin-left: 25px;
	}

	#divBtn > p {
		top: 3rem;
		width: 100%;
	}

	.education, .experience {
		height: auto;
	}

	#contact {
		height: auto;
		padding-bottom: 2rem;
	}

	.contact-content {
		margin-top: 4rem;
	}

	.study-container > article > h3 {
		font-size: xx-large;
	}

	#education {
		padding-bottom: 3rem
	}

	.experience-title {
		width: min-content;
	}
}

@media screen and (min-width: 390px) and (max-width: 390px) {
	.form-group label {
		font-size: large;
		margin-right: auto;
		width: 60px;
	}
}
